[submodule "backend_shared_libraries"]
	path = backend_shared_libraries
	url = https://github.com/CloudItYourself/backend_shared_libraries.git
	branch = feature/initial-release
[submodule "client-ui"]
	path = client-ui
	url = https://github.com/CloudItYourself/client-ui.git
	branch = main
[submodule "cluster-server-installer"]
	path = cluster-server-installer
	url = https://github.com/CloudItYourself/cluster-server-installer.git
	branch = main
[submodule "client-vm-runner"]
	path = client-vm-runner
	url = https://github.com/CloudItYourself/client-vm-runner.git
	branch = dev
[submodule "cluster-access-control"]
	path = cluster-access-control
	url = https://github.com/CloudItYourself/cluster-access-control.git
	branch = feature/initial-release
[submodule "headscale"]
	path = headscale
	url = https://github.com/CloudItYourself/headscale-ciy.git
	branch = release/0.23.0-alpha3-cert-reload
[submodule "worker-metrics-provider"]
	path = worker-metrics-provider
	url = https://github.com/CloudItYourself/worker-metrics-provider
	branch = main
